$primary : #f36100d8;

$font-light: #ffff;
$font-dark: #333;
$font-grey: #666;


$border-light: #e6e6e6;
$border-dark: #333;
$border-grey-light: #f5f5f5c2;
$border-grey:#444444;


$bg-light: #fff;
$bg-grey-light:#eee;
$bg-grey: #a7a7a7;
$bg-grey-dark: #363636;
$bg-dark: #333;
$bg-dark-absolute: #000;

$success : #3ddd45;

