.change-password-form {
  padding: 20px 15px;

  >h4{
    color: $primary;
    font-size: 22px;
  }
  >form{
    text-align: center;
    .submit{
        padding: 13px 60px;
    }
  }
  .ui{
    .input{
      border: 0;
      input{
        color: $primary !important;
    background-color: $bg-grey !important;
    border: 0!important;  
             
      }
        
    }
    
  }
}